# Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Telegram User ID of the owner.
# Find your ID via @userinfobot.
# ĐỂ null HOẶC ĐỂ TRỐNG nếu muốn bot ở chế độ PUBLIC (ai cũng có thể dùng được).
ALLOWED_USER_ID=null

# Path to Google Chrome executable on Windows
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
